<nav class="navbar navbar-light bg-faded" style="margin-bottom:0px">
  {{#link-to 'index'}}<a class="navbar-brand"  style="margin-left:30px;color:#000;font-size:2.3em">Cheesers</a>{{/link-to}}
  <ul class="nav navbar-nav navbar-right" style="margin-left:8%;text-transform:uppercase;font-size: .83em;font-family:Helvetica,Arial,sans-serif;">
    <li class="nav-item active ">
      {{#link-to 'index'}}<a class="nav-link" >Cart</a>{{/link-to}}
    </li>
    <li class="nav-item" style="border-left:1px #eee solid;">
      {{#link-to 'index'}}<a class="nav-link" >{{user.name}}</a>{{/link-to}}
    </li>
    <li class="nav-item" style="border-left:1px #eee solid;">
      {{#link-to 'about'}}<a class="nav-link" href="about">About</a>{{/link-to}}
    </li>
  </ul>
</nav>
  <hr style="margin-top:0px">


<div class="container">
  <div class="col-md-10 col-md-offset-1 main_col">
    <h2>Test</h2>
    <div class="row">
      {{#each model as |product|}}
        {{product-tile product=product}}
      {{/each}}
    </div>
    <div class="col-lg-10">
      <h1>INFO HERE</h1>
      <h1>INFO HERE</h1>
      <h1>INFO HERE</h1>
    </div>
    <div class="row">
      {{#each model as |product|}}
        {{product-tile product=product}}
      {{/each}}
      <div class="col-md-4 productSquare">Title Test</div>
      <div class="col-md-4 productSquare">Title Test</div>
      <div class="col-md-4 productSquare">Title Test</div>
      <div class="col-md-4 productSquare">Title Test</div>
      <div class="col-md-4 productSquare">Title Test</div>
      <div class="col-md-4 productSquare">Title Test</div>
      <div class="col-md-4 productSquare">Title Test</div>
      <div class="col-md-4 productSquare">Title Test</div>
      <div class="col-md-4 productSquare">Title Test</div>
    </div>
  </div>
</div>
